<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="loginForm" (submit)="onLogin()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="email" formControlName="email" placeholder="E-Mail">
      <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="loginForm.get('password').invalid">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" *ngIf="!isLoading" type="submit">Login</button>
  </form>
</mat-card>
